streamlit 
python-dotenv
aiohttp #This is for telegram
jinja2
pillow
gradio_client
asynciio
deep_translator
# diffusers #for StableDiffusionPipeline
# torch #for StableDiffusionPipeline
# transformers #for StableDiffusionPipeline
# accelerate #for StableDiffusionPipeline



# reportlab
# aiohttp #for telegram


