streamlit 
python-dotenv
aiohttp #This is for telegram
requests
jinja2
pillow
asynciio
gradio_client
deep_translator
# diffusers #for StableDiffusionPipeline
# torch #for StableDiffusionPipeline
# transformers #for StableDiffusionPipeline
# accelerate #for StableDiffusionPipeline



# reportlab
# aiohttp #for telegram


